.footer-sec {
  background-color: #0D0541;
}
h5.footer-header {
  color: white;
}
a.nav-link.p-0.text-muted {
  color: white !important;
}
p.foo-copy-txt {
  color: white;
  font-size: 15px;
  margin-right: 35px;
}
i.fab.fa-instagram {
  color: white;
}
i.fab.fa-twitter {
  color: white;
}
i.fab.fa-facebook-f {
  color: white;
}
i.fab.fa-linkedin-in {
  color: white;
}
.d-flex.justify-content-between.py-4.my-4 {
  border-image: linear-gradient(
30deg
,#3DE9D4,#262DDA) 1 stretch;
  border-top: 4px solid transparent;
}

/* media queries */

@media screen and (min-width:360px) and (max-width:414px) {

  .footer-sec .d-flex .flex-row{
      display: flex !important;
      flex-direction: column !important;
  }
  img.img-fluid.footer-logo{
    height: 70px;
    width: auto;
  }
  .industries{
    margin-top: 20px;
  }
  .services{
    margin-top: 10px;
  }
  .abouthtc{
    margin-top: 10px;
  }
  .careers{
    margin-top: 10px;
  }
  .d-flex.justify-content-between.py-4.my-4{
    display: flex !important;
    flex-direction: column !important;
  }
  ul.list-unstyled.d-flex{
    margin-left: -13px;
  }

}
