<div class="footer-sec">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <img class="img-fluid footer-logo" src="assets/Logo.png">
      </div>

      <div class="col-xl-4 col-lg-4 col-md-2 col-sm-12 industries">
        <h5 class="footer-header">Industries</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Automotive & Manufacturing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Banking, Financial Servicws and Insurance</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Communications, Media & Entertainment</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Health</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hi-Tech</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Public Sector</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Retail & Consumer Packaged Goods</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Services</a></li>
        </ul>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 services">
        <h5 class="footer-header">Services</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Digital Experiance</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cloud Services</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Agile</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quality Assurance and</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Testing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ERP</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CRM</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HTC-CMS</a></li>
        </ul>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 abouthtc">
        <h5 class="footer-header">About HTC</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Who we are</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Leadership</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Partners</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Client Testimonials</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Corporate Social</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Responsibility</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsroom</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Locations</a></li>
        </ul>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm- careers">
        <h5 class="footer-header">Careers</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Join Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Locations</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4">
      <div class="d-flex flex-row">
        <p class="foo-copy-txt">© 2021 HTC GLOBAL SERVICES. ALL RIGHTS RESERVED.</p>
        <p class="foo-copy-txt">QUALITY AND SECURITY</p>
        <p class="foo-copy-txt">POLICIES</p>
        <p class="foo-copy-txt">PRIVACY POLICY</p>
        <p class="foo-copy-txt">TERMS OF USE</p>
      </div>

      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
</div>
