<section class="main-section">
  <div class="first-section">
    <app-header></app-header>
    <div class="first-section-headers">
      <h3>Reimagining A Better Shared</h3>
      <h3>World!!</h3>
      <h5>Deliver Purposeful Solutions That Aamplify</h5>
      <h5>Value...</h5>
    </div>
    <div class="abou-content-section">
    <h3>About Us</h3>
    <hr class="horizontal">
    <div class="d-flex flex-row about-section">
      <div class="about-content">
        <p>HTC Global Services, established in 1990 and
         headquartered in Troy, Michigan, is a leading global
         information technology, and business process
         services company with operations across North
         America, Europe, Asia Pacific, Middle East, and India.
         We leverage our expertise in legacy and emerging
         digital technologies to deliver transformative
         outcomes for our enviable list of clients, which
         includes Fortune 1000 companies.</p>
       </div>
       <div class="about-content-image">
        <img class="img-fluid vectorImg" src="assets/vector.png">
       </div>
    </div>
    </div>
    </div>
    <div class="about-second-section">
      <div class="about-section-carosuel">
        <h3>Our values</h3>
      <owl-carousel-o [options]="valuesOptions">
        <ng-template carouselSlide>
          <div class="about-section-carosuel-items">
            <div class="about-team-work-content">
              <div class="about-team-work-card">
                <i class="fas fa-users"></i>
              </div>
              <h3>Team work,single aim</h3>
            </div>
            <div class="about-intigrity-content">
              <div class="about-intigrity-card">
                <i class="fas fa-handshake"></i>
              </div>
              <h3>Intigrity & Standards</h3>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="about-section-carosuel-items">

          </div>
        </ng-template>
      </owl-carousel-o>
      </div>
    </div>
    <div class="about-third-section">
      <h3>Employee Speek</h3>
      <hr class="horizontal">
      <owl-carousel-o [options]="employeeOptions">
        <ng-template carouselSlide>
          <div class="about-employee-section">
            <div class="employee-profile-content">
              <h3>Rohini Joyappa</h3>
              <span>Senior Manager</span>
              <p>A professionally managed corporate set-up,
                Success Partner Consultants is not ‘just’ any
                other Consultancy. Precision, Pragmatic,
                Perseverance are the 3 words I would associate
                Success Partners with. It has been a great 1.5
                years to work here where I got to work with a
                conglomeration of MNC clients. This also gave
                me a plethora of opportunities to work on a
                varied range of requirements and hence
                propelling my chances for maximum closure.</p>
            </div>
            <div class="employee-profile">
              <img class="img-fluid emp-profile" src="assets/employee.png">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="about-employee-section">
            <div class="employee-profile-content">
              <h3>Rohini Joyappa</h3>
              <span>Senior Manager</span>
              <p>A professionally managed corporate set-up,
                Success Partner Consultants is not ‘just’ any
                other Consultancy. Precision, Pragmatic,
                Perseverance are the 3 words I would associate
                Success Partners with. It has been a great 1.5
                years to work here where I got to work with a
                conglomeration of MNC clients. This also gave
                me a plethora of opportunities to work on a
                varied range of requirements and hence
                propelling my chances for maximum closure.</p>
            </div>
            <div class="employee-profile">
              <img class="img-fluid emp-profile" src="assets/employee.jpg">
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>

