<section class="main-section">
  <section class="first-section">
  <app-header></app-header>
<div class="first-section-heading">
  <div class="first-sec-first-head">
  <div class="d-flex flex-row">
    <h3>Give Your Business The</h3>
    <h3 class="cloud-head">Cloud</h3>
  </div>
  </div>
  <div class="first-sec-second-head">
    <div class="d-flex flex-row">
      <h3 class="Advantage-head">Advantage,</h3>
      <h3>And Watch It Take Wings</h3>
    </div>
  </div>
</div>
</section>
<section class="second-section">
  <div class="cloud-section">
    <div class="d-flex flex-row second-section">
      <div class="digital-experience-content">
        <h3>Cloud Services</h3>
        <h5>Soar to new heights with</h5><br/>
        <h5 class="second-span">cloud</h5>
        <hr class="horizontal">
        <div class="digital-experience-para">
          <p>With the global business landscape
            embracing digital transformation, Cloud
            has emerged as the fabric on which
            ecosystems of the future are being built.
            Going cloud native is no longer a choice
            but an imperative for smart businesses.</p>
        </div>
        <div class="digital-experience-second-para">
          <p>At HTC, we help build these ecosystems
            of the future by harnessing the power of
            cloud. We design business-specific yet
            scalable solutions that make our clients
            participants in the new hyperscaled world. </p>
        </div>
    </div>
    <div class="digital-experience-profile">
      <img class="img-fluid digitalprofile" src="assets/cloud-four.png">
    </div>
    </div>
  </div>
</section>
<section class="third-section">
  <h3>Our Cloud Service</h3>
  <h3 class="third-sec-second-head">offerings</h3>
  <div class="third-section-accordin">
   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
           Advisory
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <div class="d-flex flex-row accordin-card">
             <span class="accodrin-content">Operations model and strategy, cloud maturity</span>
           </div>
           <div class="d-flex flex-row accordin-card">
             <span class="accodrin-content">Value oppertunities, Architecture discovery</span>
           </div>
           <div class="d-flex flex-row accordin-card">
             <span class="accodrin-content">Application roadmap, Business case</span>
           </div>
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           Infrastructure
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">

         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingThree">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
           Security
         </button>
       </h2>
       <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">

         </div>
       </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
          Data on cloud
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
          Migration
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed last" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
          Cloud-native applications
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

        </div>
      </div>
    </div>
   </div>
  </div>
</section>
<section class="fourth-section">
  <div class="fourth-section-headers">
    <h3>Our Cloud capabilities -</h3>
    <h5>Infrastructure</h5>
   </div>
  <div class="fourth-section-digital-card">
    <div class="d-flex flex-row fourth-section">
      <div class="digital-card-image">
       <img class="img-fluid" src="assets/cloud-five.jpg">
      </div>
      <div class="digital-card-content">
       <p>Your IT Infrastructure has a dual

        role today it has to cost-
        effectively serve its traditional task

        of automating your general-
        purpose applications and services,

        besides helping you foster
        innovation, and supporting your
        strategic needs as you digitally
        transform.</p>
      </div>
    </div>
  </div>
</section>
<section class="fifth-section">
  <div class="fifth-inner-section">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="cloud-structure">
          <h3>Cloud Structure</h3>
          <h3>Offering</h3>
          <div class="cloud-structure-list">
            <ul>
              <li><span>disaster recovery and business continuity (DRBS)</span></li>
              <li><span>network operation center (noc)</span></li>
              <li><span>server and storage</span></li>
              <li><span>database administration (dba)</span></li>
              <li><span>middleware services</span></li>
              <li><span>end user computer (euc)</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="cloud-structure-image">
          <img class="img-fluid structure-img" src="assets/cloud-two.png">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sixth-section">
  <section class="fourth-section">
    <div class="fourth-section-headers">
      <h3>Our Cloud capabilities -</h3>
      <h5>Data and Insights</h5>
     </div>
    <div class="fourth-section-digital-card">
      <div class="d-flex flex-row sixth-section">
        <div class="digital-card-image">
         <img class="img-fluid" src="assets/cloud-one.jpg">
        </div>
        <div class="digital-card-content">
         <p>Among the biggest differences
          between successful companies
          and the rest is how they harness
          the power of Data and AI to derive
          valuable insights that help them
          become future-ready. Our data and
          insights services, delivered with
          industry-specific expertise and
          processes, help you achieve
          breakthrough results in this new
          age of information.</p>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="seventh-section">
  <section class="fifth-section">
    <div class="fifth-inner-section">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="cloud-structure">
            <h3>Cloud Data and</h3>
            <h3>Insights Offering</h3>
            <div class="cloud-structure-list">
              <ul>
                <li><span>data monetization</span></li>
                <li><span>data operation</span></li>
                <li><span>data modernization</span></li>
                <li><span>data assurance</span></li>
                <li><span>data privacy</span></li>
                <li><span>analytics</span></li>
                <li><span>ai/ml</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="cloud-structure-image">
            <img class="img-fluid structure-img" src="assets/cloud-three.png">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="eighth-section">
  <section class="tenth-section">
    <div class="tenth-inner-section">
      <div class="d-flex flex-row justify-content-center">
        <div class="tenth-header-sec">
          <h3>Talk to our experts</h3>
        </div>
      </div>
      <div class="tenth-card-section">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="tenth-first-card">
              <img class="img-fluid tenth-imag-sec" src="assets/expert.jpg">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="tenth-second-card">
              <form [formGroup]="contact" (ngSubmit)="submitContact()">
              <div class="row">
                <div class="col-sm-12 mb-5">
                  <input formControlName="name" class="form-control" type="text" placeholder="Full Name">
                  <div *ngIf="submitted && fcontrol['name'].errors">
                  <span class="contactError" *ngIf="fcontrol.name.errors.required">Enter name</span>
                  <span class="contactError" *ngIf="fcontrol.name.errors.pattern">Enter characters only</span>
                  </div>
                </div>
                <div class="col-sm-12 mb-5">
                  <input formControlName="company" class="form-control" type="text" placeholder="Company">
                  <div *ngIf="submitted && fcontrol['company'].errors">
                  <span class="contactError" *ngIf="fcontrol.company.errors.required">Enter company name</span>
                  <span class="contactError" *ngIf="fcontrol.company.errors.pattern">Enter characters only</span>
                  </div>
                </div>
                <div class="col-sm-12 mb-5">
                  <input formControlName="email" class="form-control" type="text" placeholder="Work email id">
                  <div *ngIf="submitted && fcontrol['email'].errors">
                    <span class="contactError" *ngIf="fcontrol.email.errors.required">Enter email</span>
                    <span class="contactError" *ngIf="fcontrol.email.errors.pattern">Enter valid email</span>
                  </div>
                </div>
                <div class="col-sm-12 mb-5">
                  <input formControlName="phone" class="form-control" type="text" placeholder="Phone no">
                  <div *ngIf="submitted && fcontrol['phone'].errors">
                  <span class="contactError" *ngIf="fcontrol.phone.errors.required">Enter phone number</span>
                  <span class="contactError" *ngIf="fcontrol.phone.errors.pattern">Enter numbers only</span>
                  <span class="contactError" *ngIf="fcontrol.phone.errors.minlength">Enter minimum 10 numbers</span>
                  <span class="contactError" *ngIf="fcontrol.phone.errors.maxlength">Enter maximum 10 numbers</span>
                  </div>
                </div>
                <div class="col-sm-12 mb-2">
                  <div class="form-floating">
                    <textarea formControlName="suggestion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">How can we help you?</label>
                  </div>
                </div>
                <div *ngIf="submitted && fcontrol['suggestion'].errors">
                  <span class="contactError" *ngIf="fcontrol.suggestion.errors.required">Enter Suggestion</span>
                  <span class="contactError" *ngIf="fcontrol.suggestion.errors.pattern">Enter characters only</span>
                </div>
                </div>
                <div class="d-flex flex-row tenth-sec">
                  <button type="submit" class="tenth-btn">Submit</button>
                  <span  class="tenth-sec-span"><i class="fas fa-star"></i> All fields should be mandatory</span>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

</section>

