<section class="main-section">
  <section class="first-section">
    <app-header></app-header>
    <div class="first-section-headings">
      <div class="first-sec-first-head">
        <div class="d-flex flex-row">
          <h3>Want Best-In-Class Apps?</h3>&nbsp;&nbsp;
        <h3 class="first-sec-head">Invest In</h3>
        </div>
      </div>
      <div class="first-sec-second-head">
        <h3 class="first-sec-heads">Robust Testing Services</h3>
      </div>
    </div>
  </section>
  <section class="second-section">
    <div class="cloud-section">
      <div class="d-flex flex-row cloud-section">
        <div class="digital-experience-content">
          <h3>Quality Assurance</h3>
          <h5>Better Quality Assurance</h5><br/>
          <h5 class="second-span">Smarter Apps</h5>
          <hr class="horizontal">
          <div class="digital-experience-para">
            <p>Ever-increasing competition is compelling
              companies to improve business outcomes
              by launching software applications with
              quick time-to-market. The faster
              organizations try to expand their digital
              capabilities, the more they are turning to
              next-gen technologies such as AI, RPA, Big
              Data and so on. Software Quality
              Assurance (QA) and Testing is the unseen
              force that propels your digital agenda by
              balancing cost, speed, and quality without
              compromises.</p>
          </div>
      </div>
      <div class="digital-experience-profile">
        <img class="img-fluid digitalprofile" src="assets/quality-first-img.png">
      </div>
      </div>
    </div>
  </section>
  <section class="third-section">
    <h3>Our QA and Software</h3>
    <h3 class="third-sec-second-head">Testing Services offerings</h3>
    <div class="third-section-accordin">
     <div class="accordion accordion-flush" id="accordionFlushExample">
       <div class="accordion-item">
         <h2 class="accordion-header" id="flush-headingOne">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
             QA and Testing Service
           </button>
         </h2>
         <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
             <div class="d-flex flex-row accordin-card">
               <span class="accodrin-content">Test Advisory and consulting, Specialized testing</span>
             </div>
             <div class="d-flex flex-row accordin-card">
               <span class="accodrin-content">Test Environment Management</span>
             </div>
             <div class="d-flex flex-row accordin-card">
              <span class="accodrin-content">Manual and Automated testing for waterfall, Agile, Devops approaches</span>
            </div>
           </div>
         </div>
       </div>
       <div class="accordion-item">
         <h2 class="accordion-header" id="flush-headingTwo">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
             Digital Testing Services
           </button>
         </h2>
         <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">

           </div>
         </div>
       </div>
       <div class="accordion-item">
         <h2 class="accordion-header" id="flush-headingThree">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
             Test Enhancement Services
           </button>
         </h2>
         <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">

           </div>
         </div>
       </div>
       <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
            Core or Traditional Testing
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">

          </div>
        </div>
      </div>
     </div>
    </div>
  </section>
  <section class="fourth-section">
  <div class="fourth-inner-section">
    <div class="fourth-sec-headers">
      <h3>User and Business Centric</h3>
      <h3>QA and Software Testing</h3>
    </div>
    <hr class="horizontal">
    <div class="fourth-para-section">
      <p>HTC’s mature Enterprise Quality
        Assurance Testing (EQAT) Practice
        provides end-to-end independent QA
        and testing services to global clients
        across verticals. Our EQAT
        complements your in-house testing
        efforts by giving an independent
        perspective to the testing life cycle.
        Our proprietary tools, frameworks,
        industry standard methodologies, and
        AI-based automated testing processes
        provide you the wherewithal to
        negotiate today’s sophisticated and
        interconnected technology landscape.</p>
    </div>
  </div>
  </section>
  <section class="fifth-section">
    <h3>HTC's Test Maturity Model</h3>
    <h3>Integration (TMMI) Services</h3>
  </section>
  <section class="sixth-section">
    <div class="sixth-inner-section">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="sixth-para-section">
            <ul>
              <li><span>Improves Software Quality And Performance</span></li>
              <li><span>Detect Improvement Areas and Prioritizes Cost-Effective Measures, And Improves Rol</span></li>
              <li><span>Identifies Defects Early In The Production Phase</span></li>
              <li><span>Improves Customer Satisfaction</span></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="sixth-image-section">
            <img class="img-fluid sixth-sec-img" src="assets/quality-third-img.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="seventh-section">
    <div class="seventh-inner-section">
      <div class="seventh-header">
        <h3>Why HTC??</h3>
      </div>
      <div class="seventh-first-card">
        <p>Reduces the
          total cost of
          testing by up to
          30%</p>
      </div>
      <div class="seventh-second-card">
        <p>Significantly
          mitigates
          technical and
          business risks</p>
      </div>
      <div class="seventh-third-card">
        <p>Scalable testing
          resource and
          delivery flexibility
          with partnership
          approach</p>
      </div>
    </div>
  </section>
  <section class="eighth-section">
    <section class="tenth-section">
      <div class="tenth-inner-section">
        <div class="d-flex flex-row justify-content-center">
          <div class="tenth-header-sec">
            <h3>Talk to our experts</h3>
          </div>
        </div>
        <div class="tenth-card-section">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="tenth-first-card">
                <img class="img-fluid tenth-imag-sec" src="assets/expert.jpg">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="tenth-second-card">
                <form [formGroup]="contact" (ngSubmit)="submitContact()">
                <div class="row">
                  <div class="col-sm-12 mb-5">
                    <input formControlName="name" class="form-control" type="text" placeholder="Full Name">
                    <div *ngIf="submitted && fcontrol['name'].errors">
                    <span class="contactError" *ngIf="fcontrol.name.errors.required">Enter name</span>
                    <span class="contactError" *ngIf="fcontrol.name.errors.pattern">Enter characters only</span>
                    </div>
                  </div>
                  <div class="col-sm-12 mb-5">
                    <input formControlName="company" class="form-control" type="text" placeholder="Company">
                    <div *ngIf="submitted && fcontrol['company'].errors">
                    <span class="contactError" *ngIf="fcontrol.company.errors.required">Enter company name</span>
                    <span class="contactError" *ngIf="fcontrol.company.errors.pattern">Enter characters only</span>
                    </div>
                  </div>
                  <div class="col-sm-12 mb-5">
                    <input formControlName="email" class="form-control" type="text" placeholder="Work email id">
                    <div *ngIf="submitted && fcontrol['email'].errors">
                      <span class="contactError" *ngIf="fcontrol.email.errors.required">Enter email</span>
                      <span class="contactError" *ngIf="fcontrol.email.errors.pattern">Enter valid email</span>
                    </div>
                  </div>
                  <div class="col-sm-12 mb-5">
                    <input formControlName="phone" class="form-control" type="text" placeholder="Phone no">
                    <div *ngIf="submitted && fcontrol['phone'].errors">
                    <span class="contactError" *ngIf="fcontrol.phone.errors.required">Enter phone number</span>
                    <span class="contactError" *ngIf="fcontrol.phone.errors.pattern">Enter numbers only</span>
                    <span class="contactError" *ngIf="fcontrol.phone.errors.minlength">Enter minimum 10 numbers</span>
                    <span class="contactError" *ngIf="fcontrol.phone.errors.maxlength">Enter maximum 10 numbers</span>
                    </div>
                  </div>
                  <div class="col-sm-12 mb-2">
                    <div class="form-floating">
                      <textarea formControlName="suggestion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">How can we help you?</label>
                    </div>
                  </div>
                  <div *ngIf="submitted && fcontrol['suggestion'].errors">
                    <span class="contactError" *ngIf="fcontrol.suggestion.errors.required">Enter Suggestion</span>
                    <span class="contactError" *ngIf="fcontrol.suggestion.errors.pattern">Enter characters only</span>
                  </div>
                  </div>
                  <div class="d-flex flex-row tenth-sec">
                    <button type="submit" class="tenth-btn">Submit</button>
                    <span  class="tenth-sec-span"><i class="fas fa-star"></i> All fields should be mandatory</span>
                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
