<section class="main-section">
<app-header></app-header>
<div class="first-section">
  <div class="first-section-headings">
    <h3>Push The Horizontal Of The Possible</h3>
  </div>
  <div class="d-flex flex-row first-section-second-head">
    <h3>With</h3>
    <h3 class="first-section-head">Digital Experience</h3>
 </div>
 </div>
 <div class="second-section">
  <div class="d-flex flex-row second-section">
    <div class="digital-experience-content">
      <h3>Digital Experience</h3>
      <h5>Design an Experience to remember for</h5><br/>
      <h5 class="second-span">your users</h5>
      <hr class="horizontal">
      <div class="digital-experience-para">
        <p>Did you know that poor user experience
          (UX) is one of the biggest factors driving
          customers away from businesses? And
          this happens mainly because IT
          departments of organizations don’t have
          enough skilled designers who can create
          that captivating experience for users to
          keep coming back.</p>
      </div>
      <div class="digital-experience-second-para">
        <p>HTC’s UX practice has been helping
          clients around the globe deliver great user
          experiences for their teams and their
          clients. </p>
      </div>
    </div>
    <div class="digital-experience-profile">
      <img class="img-fluid digitalprofile" src="assets/digiman.png">
    </div>
  </div>
 </div>
 <div class="third-section">
   <h3>Our Digital Experience</h3>
   <h3 class="third-sec-second-head">capabilities</h3>
   <div class="third-section-accordin">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            UX Design Services
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="d-flex flex-row accordin-card">
              <span class="accordin-header">Discovery -</span>
              <span class="accodrin-content">Brand Analysis, Competitive Benchmarking</span>
            </div>
            <div class="d-flex flex-row accordin-card">
              <span class="accordin-header">Prototyping -</span>
              <span class="accodrin-content">Mood Boards, Low Fi & Hi Fi Wireframes</span>
            </div>
            <div class="d-flex flex-row accordin-card">
              <span class="accordin-header">UI Detailing -</span>
              <span class="accodrin-content">Style Guide Creation, Design Specifications</span>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            UX Consulting Services
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            UX Development Services
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">

          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
 <div class="fourth-section">
   <div class="fourth-section-headers">
    <h3>Our Digital Experience</h3>
    <h5>Servicess-XDD</h5>
   </div>
   <div class="fourth-section-digital-card">
     <div class="d-flex flex-row fourth-section">
       <div class="digital-card-image">
        <img class="img-fluid" src="assets/i2.jpg">
       </div>
       <div class="digital-card-content">
        <p>How customers and employees
          engage with websites and
          applications makes a big
          difference in the relationship they
          have with organizations. The
          measure of success today is how
          engaging your customer facing
          applications and portals are, and
          how easily they help customers
          interact with you and get their
          tasks done.</p>
       </div>
     </div>
   </div>
 </div>
 <div class="fifth-section">
  <div class="about-second-section">
    <div class="about-section-carosuel">
      <h3>XDD Services</h3>
    <owl-carousel-o [options]="valuesOptions">
      <ng-template carouselSlide>
        <div class="about-section-carosuel-items">
          <div class="about-team-work-content">
            <div class="about-team-work-card">
              <i class="fas fa-user"></i>
            </div>
            <h3>User Research</h3>
          </div>
          <div class="about-intigrity-content">
            <div class="about-intigrity-card">
              <i class="fas fa-handshake"></i>
            </div>
            <h3>Usability Testing</h3>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="about-section-carosuel-items">

        </div>
      </ng-template>
    </owl-carousel-o>
    </div>
  </div>
 </div>
 <div class="sixth-section">
   <div class="sixth-header-section">
      <h3 class="text-right">Our Digital Experience</h3>
      <h5>services-Mobility</h5>
    </div>

 <div class="digital-experience-services">
   <div class="d-flex flex-row sixth-section">
     <div class="digital-experience-services-content">
      <p>As mobile adoption continues to
        rise, and in person transactions
        and those from other devices shift
        to mobile phones, companies
        need to find a partner that can
        shape their mobile strategy
        holistically.</p>
     </div>
     <div class="digital-experience-service-image">
      <img class="img-fluid experience-service-image" src="assets/i3.jpg">
     </div>
   </div>
 </div>
 </div>
 <div class="seventh-section">
  <div class="about-second-section">
    <div class="about-section-carosuel">
      <h3>Mobility Services</h3>
    <owl-carousel-o [options]="valuesOptions">
      <ng-template carouselSlide>
        <div class="about-section-carosuel-items">
          <div class="about-team-work-content">
            <div class="about-team-work-card">
              <i class="fas fa-cubes"></i>
            </div>
            <h3>Development</h3>
          </div>
          <div class="about-intigrity-content">
            <div class="about-intigrity-card">
              <img class="img-fluid seventh-sec-image" src="assets/ux.jpg">
            </div>
            <h3>UI / UX Design</h3>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="about-section-carosuel-items">

        </div>
      </ng-template>
    </owl-carousel-o>
    </div>
  </div>
 </div>
 <section class="tenth-section">
  <div class="tenth-inner-section">
    <div class="d-flex flex-row justify-content-center">
      <div class="tenth-header-sec">
        <h3>Talk to our experts</h3>
      </div>
    </div>
    <div class="tenth-card-section">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="tenth-first-card">
            <img class="img-fluid tenth-imag-sec" src="assets/expert.jpg">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="tenth-second-card">
            <form [formGroup]="contact" (ngSubmit)="submitContact()">
            <div class="row">
              <div class="col-sm-12 mb-5">
                <input formControlName="name" class="form-control" type="text" placeholder="Full Name">
                <div *ngIf="submitted && fcontrol['name'].errors">
                <span class="contactError" *ngIf="fcontrol.name.errors.required">Enter name</span>
                <span class="contactError" *ngIf="fcontrol.name.errors.pattern">Enter characters only</span>
                </div>
              </div>
              <div class="col-sm-12 mb-5">
                <input formControlName="company" class="form-control" type="text" placeholder="Company">
                <div *ngIf="submitted && fcontrol['company'].errors">
                <span class="contactError" *ngIf="fcontrol.company.errors.required">Enter company name</span>
                <span class="contactError" *ngIf="fcontrol.company.errors.pattern">Enter characters only</span>
                </div>
              </div>
              <div class="col-sm-12 mb-5">
                <input formControlName="email" class="form-control" type="text" placeholder="Work email id">
                <div *ngIf="submitted && fcontrol['email'].errors">
                  <span class="contactError" *ngIf="fcontrol.email.errors.required">Enter email</span>
                  <span class="contactError" *ngIf="fcontrol.email.errors.pattern">Enter valid email</span>
                </div>
              </div>
              <div class="col-sm-12 mb-5">
                <input formControlName="phone" class="form-control" type="text" placeholder="Phone no">
                <div *ngIf="submitted && fcontrol['phone'].errors">
                <span class="contactError" *ngIf="fcontrol.phone.errors.required">Enter phone number</span>
                <span class="contactError" *ngIf="fcontrol.phone.errors.pattern">Enter numbers only</span>
                <span class="contactError" *ngIf="fcontrol.phone.errors.minlength">Enter minimum 10 numbers</span>
                <span class="contactError" *ngIf="fcontrol.phone.errors.maxlength">Enter maximum 10 numbers</span>
                </div>
              </div>
              <div class="col-sm-12 mb-2">
                <div class="form-floating">
                  <textarea formControlName="suggestion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2">How can we help you?</label>
                </div>
              </div>
              <div *ngIf="submitted && fcontrol['suggestion'].errors">
                <span class="contactError" *ngIf="fcontrol.suggestion.errors.required">Enter Suggestion</span>
                <span class="contactError" *ngIf="fcontrol.suggestion.errors.pattern">Enter characters only</span>
              </div>
              </div>
              <div class="d-flex flex-row tenth-sec">
                <button type="submit" class="tenth-btn">Submit</button>
                <span  class="tenth-sec-span"><i class="fas fa-star"></i> All fields should be mandatory</span>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 </section>


