<section class="main-content">
<section class="first-section">
  <div class="first-image-section">
    <app-header></app-header>
  <div class="para-section">
  <div class="container">
    <h3 class="para-head">Lets make</h3>
  <div class="d-flex flex-row">
  <h3 class="para-second-head">Digital</h3>
  <span class="para-third-head">Change happen</span>
  </div>
  <div class="btn-sec">
    <a class="explore-tag">Explore Now &nbsp;<i class="fas fa-arrow-right"></i></a>
  </div>
  </div>
  </div>
  </div>
</section>
   <section class="second-section">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="second-sec-para">
      <div class="text-left">
        <h3 class="second-para-head">Reimagining</h3>
        <h3 class="second-para-head">a better</h3>
        <h3 class="second-para-head">shared world</h3>
        <h3 class="second-para-head">>></h3>
      </div>
    </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="second-sec-second-para">
        <div class="text-left">
          <p class="second-sec-second-para-text">Our vision articulates impact far<br/>
            beyond business and commerec,<br/>
            communicating a perspective<br/>
            unique to our enterprise -that is<br/>
            global and inter-connectd.</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="third-section mt-5">
  <div class="third-inner-section">
    <div class="third-sec-head">
      <h3 class="third-sec-firsthead">Our Expertise</h3>
      <span class="third-sec-headpara">We help you transform and thrive in the changing world.</span>
    </div>
    <div class="thirdsec-card-section mt-4">
      <div class="d-flex flex-row">
        <div class="firstcard">
          <img class="img-fluid firstcard" src="assets/digital.jpg">
        </div>
        <div class="secondcard text-left">
          <h3 class="thirdsec-cardhead">Digital<br/>Experience</h3>
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="fourth-section mt-5">
  <div class="fourth-inner-sec">
    <div class="d-flex flex-row">
      <div class="thirdcard text-left">
        <h3 class="third-section-head">Cloud<br/>Service</h3>
      </div>
      <div class="fourthcard">
        <img class="img-fluid fourthcard-img" src="assets/cloud.jpg">
      </div>
    </div>
  </div>
</section>
 <section class="fifith-section mt-5">
  <div class="d-flex flex-row">
    <div class="firstcard">
      <img class="img-fluid firstcard" src="assets/industry.jpg">
    </div>
    <div class="secondcard text-left">
      <h3 class="thirdsec-cardhead">Industry<br/>Platform</h3>
    </div>
  </div>
</section>
 <section class="sixth-section mt-5">
  <div class="fourth-inner-sec">
    <div class="d-flex flex-row">
      <div class="sixthcard text-left">
        <h3 class="third-section-head">QA and<br/>Testing</h3>
      </div>
      <div class="fourthcard">
        <img class="img-fluid fourthcard-img" src="assets/testing.jpg">
      </div>
    </div>
  </div>
</section>
 <section class="seventh-section mt-5">
  <div class="seventh-inner-sec">
    <owl-carousel-o [options]="caseOptions">
      <ng-template carouselSlide>
        <div class="slide">
            <div class="row">
              <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
              <div class="seventh-inner-card">
                <div class="text-left seventh-second-inner-card">
                  <h3 class="seventh-inner-head">Case Study</h3>
                  <p class="seventh-iiner-para">We are driven by our clinets</p><br/>
                  <p class="seventh-iiner-para">success, and guided by our</p><br/>
                  <p class="seventh-iiner-para">domain expertaise and</p><br/>
                  <p class="seventh-iiner-para">technology experience.</p>
                </div>
              </div>
              </div>
              <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="seventh-section-inner-second-card">
                  <img class="img-fluid seventh-section-inner-card-image" src="assets/ECM.jpg">
                </div>
                <div class="d-flex flex-row seventh-sec">
                  <div class="seventh-section-below-text">
                    <h3>ECM CCM Guideware</h3>
                  </div>
                  <div class="seventh-section-below-link">
                    <a>Download >></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
            <div class="seventh-inner-card">
              <div class="text-left seventh-second-inner-card">
                <h3 class="seventh-inner-head">Case Study</h3>
                <p class="seventh-iiner-para">We are driven by our clinets</p><br/>
                <p class="seventh-iiner-para">success, and guided by our</p><br/>
                <p class="seventh-iiner-para">domain expertaise and</p><br/>
                <p class="seventh-iiner-para">technology experience.</p>
              </div>
            </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
              <div class="seventh-section-inner-second-card">
                <img class="img-fluid seventh-section-inner-card-image" src="assets/ECM.jpg">
              </div>
              <div class="d-flex flex-row seventh-sec">
                <div class="seventh-section-below-text">
                  <h3>ECM CCM Guideware</h3>
                </div>
                <div class="seventh-section-below-link">
                  <a>Download >></a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </ng-template>
    </owl-carousel-o>
  </div>
</section>
 <section class="eighth-section mt-5">
<div class="d-flex flex-row justify-content-center">
  <h3 class="eighth-sec-head">Customer Speak</h3>
</div>
<div class="eighth-image-section mt-5">
  <div class="d-flex flex-row justify-content-end">
    <div class="eighth-sec-content">
      <i class="fas fa-quote-left"></i>
      <p class="eighth-sec-text">HTC Global Services helps us to</p><br/>
      <p class="eighth-sec-text">build the integration layer. We</p><br/>
      <p class="eighth-sec-text">look forward for greater</p><br/>
      <p class="eighth-sec-text">assosiation to acclerate our</p><br/>
      <p class="eighth-sec-text">growth.</p>
      <p class="eighth-sec-lastline">--Leading Insurance Company</p>
    </div>
  </div>

</div>
</section>
 <section class="ninth-section mt-5">
  <div class="ninth-inner-section">
    <div class="d-flex flex-row justify-content-center">
      <h3 class="ninth-section-head">Our Partners</h3>
    </div>
  <div class="carosul-section">
    <owl-carousel-o [options]="customOptions" class="carosul-sec">
      <ng-template carouselSlide>
          <div class="slide">
              <img class="img-fluid ninth-carsul-sec" src="assets/Partner 1.png">
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
              <img  class="img-fluid ninth-carsul-sec" src="assets/Partner 2.png">
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
              <img class="img-fluid ninth-carsul-sec" src="assets/Partner 3.png">
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
              <img class="img-fluid ninth-carsul-sec" src="assets/Partner 4.png">
          </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
            <img class="img-fluid ninth-carsul-sec" src="assets/Partner 1.png">
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
          <img class="img-fluid ninth-carsul-sec" src="assets/Partner 2.png">
      </div>
  </ng-template>
  </owl-carousel-o>
  </div>
  </div>
</section>
 <section class="tenth-section">
  <div class="tenth-inner-section">
    <div class="d-flex flex-row justify-content-center">
      <div class="tenth-header-sec">
        <h3>Talk to our experts</h3>
      </div>
    </div>
    <div class="tenth-card-section">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="tenth-first-card">
            <img class="img-fluid tenth-imag-sec" src="assets/expert.jpg">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="tenth-second-card">
            <form [formGroup]="contact" (ngSubmit)="submitContact()">
            <div class="row">
              <div class="col-sm-12 mb-5">
                <input formControlName="name" class="form-control" type="text" placeholder="Full Name">
                <div *ngIf="submitted && fcontrol['name'].errors">
                <span class="contactError" *ngIf="fcontrol.name.errors.required">Enter name</span>
                <span class="contactError" *ngIf="fcontrol.name.errors.pattern">Enter characters only</span>
                </div>
              </div>
              <div class="col-sm-12 mb-5">
                <input formControlName="company" class="form-control" type="text" placeholder="Company">
                <div *ngIf="submitted && fcontrol['company'].errors">
                <span class="contactError" *ngIf="fcontrol.company.errors.required">Enter company name</span>
                <span class="contactError" *ngIf="fcontrol.company.errors.pattern">Enter characters only</span>
                </div>
              </div>
              <div class="col-sm-12 mb-5">
                <input formControlName="email" class="form-control" type="text" placeholder="Work email id">
                <div *ngIf="submitted && fcontrol['email'].errors">
                  <span class="contactError" *ngIf="fcontrol.email.errors.required">Enter email</span>
                  <span class="contactError" *ngIf="fcontrol.email.errors.pattern">Enter valid email</span>
                </div>
              </div>
              <div class="col-sm-12 mb-5">
                <input formControlName="phone" class="form-control" type="text" placeholder="Phone no">
                <div *ngIf="submitted && fcontrol['phone'].errors">
                <span class="contactError" *ngIf="fcontrol.phone.errors.required">Enter phone number</span>
                <span class="contactError" *ngIf="fcontrol.phone.errors.pattern">Enter numbers only</span>
                <span class="contactError" *ngIf="fcontrol.phone.errors.minlength">Enter minimum 10 numbers</span>
                <span class="contactError" *ngIf="fcontrol.phone.errors.maxlength">Enter maximum 10 numbers</span>
                </div>
              </div>
              <div class="col-sm-12 mb-2">
                <div class="form-floating">
                  <textarea formControlName="suggestion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2">How can we help you?</label>
                </div>
              </div>
              <div *ngIf="submitted && fcontrol['suggestion'].errors">
                <span class="contactError" *ngIf="fcontrol.suggestion.errors.required">Enter Suggestion</span>
                <span class="contactError" *ngIf="fcontrol.suggestion.errors.pattern">Enter characters only</span>
              </div>
              </div>
              <div class="d-flex flex-row tenth-sec">
                <button type="submit" class="tenth-btn">Submit</button>
                <span  class="tenth-sec-span"><i class="fas fa-star"></i> All fields should be mandatory</span>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</section>
